# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# DATABASE_URL="postgresql://postgres:[password]@[db-url]:5432/postgres"
# NEXT_PUBLIC_SUPABASE_URL="[URL SUPABASE]"
# NEXT_PUBLIC_SUPABASE_ANON_KEY="[your anon key]"

DATABASE_URL="postgresql://postgres:MonitoringPKL@01@db.owmkwndkjubdliomrozw.supabase.co:5432/postgres"
NEXT_PUBLIC_SUPABASE_URL="https://owmkwndkjubdliomrozw.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im93bWt3bmRranViZGxpb21yb3p3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2Njk4NTI5NzgsImV4cCI6MTk4NTQyODk3OH0.ctw5tj3DpxdRTVYXJKzMHsJcFNzkahUrqUgx4g-Prro"